# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
backend/venv
backend/.env
backend/**/__pycache__/
fluent_office
generated_pdfs
db_data
node_modules
dist
dist-ssr
*.local
uploads
vector_db
/temp_recording_chunks/
/temp_live_chunks/
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
